WC_BASE_URL=https://yourstore.com
WC_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxx
WC_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxx

GOOGLE_SHEET_ID=your_google_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_FILE=./google-service-account.json

EXPORT_PER_PAGE=100
EXPORT_INCLUDE_DRAFTS=false
EXPORT_TIMEZONE=Asia/Colombo
